@charset "utf-8";

/*Google Font(s)*/
@import  "https://fonts.googleapis.com/css?family=Montserrat:400,300,700,900";
@import  "https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800";
@import  "https://fonts.googleapis.com/css?family=Lora:400italic";

/*Font Icon(s)*/
@import  "fonts/font-awesome/css/font-awesome.min.css";
@import  "fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css";

/*Stylesheet(s)*/
@import  "bootstrap.min.css";
@import  "slick.css";
@import  "slick-theme.css";
@import  "bootstrap.min.css";
@import  "slicknav.min.css";



/*----------------------------------------------


[Master Stylesheet]

Project: Investable

Version: 1

Primary use: Multipupose Corporate, Finance, Business Template 


----------------------------------------------------


{ TABLE OF CONTENTS }

1. General Styles

2. Background Images / Overlays and BG Colors

3. Main Font

4. Section Titles

5. Color Shortcodes

6. Icon Boxes 

7. Form Elements

8. Opacity Shortcodes

9. Call to Action Section

10. Buttons

11. Pagination

12. Accordion and Toggle

13. Hamburger Menu Toggle

14. Appeance when menu opens

15. Main Nav (non responsive styles)

16. Logo

17. Menu on right

18. Hero Section

19. Mouse scroll animation in header

20. Page title

21. More section

22. Header links

23. Login

24. Pricing Tables

25. Testimonials

26. Portfolio Items

27. FAQ

28. Team

29. Table for centering content

30. Service Box

31. Blog elements

32. Comment Blocks

33. Footer

34. Misc

35. Padding Shortcodes

36. Margin Shortocdes

37. Responsive Styles


-----------------------------------------------*/

*,:after,:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,.clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

/* ---------------------------------------------

General Styles

------------------------------------------------*/
html,body {
    color: #000;
	cursor: default;
    height: 100%;
    font-family: 'Open Sans', Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
    line-height: 1.8;
    color: #555;
    font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

button {
    border: 0;
    outline: 0 !important;
}

a {
    color: rgba(25,27,89,0.6);
    -webkit-transition: all .3s;
    transition: all .3s;
}

a,a:hover,a:focus,a:active {
    cursor: pointer;
    outline: 0 !important;
    text-decoration: none !important;
}

section {

}

ul {
	list-style-type: none;
}

hr {

}

i {

}

label {

}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

blockquote {

}

blockquote p {

}

blockquote footer {

}

pre code {
   
}

select {

}

form {
    clear: both;
    display: table;
    content: "";
}

select {

}

select option {

}

header {
    
}

code {

}

header {

}

section {

}

video {

}

canvas {

}



/*Color and background of highlighted content*/
::selection {
  background: #e2e2e2;
  color: #fff; 
}
::-moz-selection {
  background: #0e0e0e;
  color: #fff;
}

/* ---------------------------------------------

Background Images /overlays and bg colors

------------------------------------------------*/
/*to apply bg images include this "bg-img" class */
.bg-img {
    background-size: cover!important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*individual classes for images*/
.bg-img-1 { background-image: url(../images/bg-imgs/product-header.jpg); }
.bg-img-2 { background-image: url(../images/bg-imgs/news-header.jpg); }
.bg-img-3 { background-image: url(../images/bg-imgs/drone-slide.jpg); }
.bg-img-4 { background-image: url(../images/bg-imgs/product-slide.jpg); }
.bg-img-5 { background-image: url(../images/bg-imgs/about-header.jpg); }
.bg-img-6 { background-image: url(../images/bg-imgs/careers-header.jpg); }
.bg-img-7 { background-image: url(../images/city-slide2.jpg); }
.bg-img-8 { background-image: url(../images/bg-imgs/careers-header.jpg); }
.bg-img-9 { background-image: url(../images/bg-imgs/testtosee3.jpg); }
.bg-img-10 { background-image: url(../images/bg-imgs/radar-slide.jpg); }
.bg-img-11 { background-image: url(../images/temp1.jpg); }
.bg-img-12 { background-image: url(../images/temp2.jpg); }

/*color overlay as seen in the header*/
.color-overlay {
    box-shadow: inset 0 0 0 9999px rgba(70, 69, 183, 0.5);
}

/*dark overlay from overlay-1 being the lightest and overlay-5 being the darkest*/
.dark-overlay-1 { box-shadow: inset 0 0 0 9999px rgba(3,2,36,.1); }
.dark-overlay-2 { box-shadow: inset 0 0 0 9999px rgba(3,2,36,.2); }
.dark-overlay-3 { box-shadow: inset 0 0 0 9999px rgba(3,2,36,.4); }
.dark-overlay-4 { box-shadow: inset 0 0 0 9999px rgba(3,2,36,.6); }
.dark-overlay-5 { box-shadow: inset 0 0 0 9999px rgba(3,2,36,.8); }

.blue-overlay-1 { box-shadow: inset 0 0 0 9999px rgba(25,27,89,.1); }
.blue-overlay-2 { box-shadow: inset 0 0 0 9999px rgba(25,27,89,.2); }
.blue-overlay-3 { box-shadow: inset 0 0 0 9999px rgba(25,27,89,.4); }


/*background colors*/
.bg-gray { background-color: #fbfbfb; }
.bg-black  { background-color: #0e0e0e; }
.bg-white { background-color: #fff; }
.bg-color-1 { background-color: #1b1952; }

.bg-color-1 {
    width: 100%;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,.2) 0%, rgba(255,255,255,0.1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0.1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,.2) 0%, rgba(255,255,255,0.1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,.2) 0%, rgba(255,255,255,0.1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,.2) 0%, rgba(255,255,255,0.1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(255,255,255,.2) 0%, rgba(255,255,255,0.1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=1 ); /* ie6-9 */
    background-color: #1b1952;
}

/* ---------------------------------------------

Main Font

------------------------------------------------*/
.section-title,
.icon-box-1 h4,
.icon-box-2 h4,
.button,
.slicknav_nav .slicknav_row, .slicknav_nav a,
.logo p,
.menu li a.menu-item,
.menu .dropdown a,
.hero-section h1,
.price-box h5,
.price-box h6,
.testimonial footer,
.price-box .price,
.work-item h4,
.work-single h2,
.team-member .member-info h5,
.team-member .member-info h6,
.service-box a,
.service-box h4,
.post-snippet h4,
.footer h6,
.ques-box h5 {
    font-family: 'Montserrat', Arial, sans-serif;
}

/* ---------------------------------------------

Section Titles

------------------------------------------------*/
.section-title {
    text-align: center;
    margin-top: 11px;
    margin-bottom: 80px;
    font-size: 36px;
    color: #1b1952;
    text-transform: uppercase;
    font-weight: 600;
}

.section-sub {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(25,27,89,0.6);
    text-align: center;
    letter-spacing: 1px;
}

h3.section-title {
    text-align: left;
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 300;
    text-transform: none;
}

h5.section-title {
    font-size: 16px;
    color: #555;
    margin: 0 0 20px 0;
    text-align: left;
}

/* ---------------------------------------------

Color shortcodes

------------------------------------------------*/
.color-white { color: #fff!important;}

.color-darkblue { color: #1b1952!important;}

.color-medblue { color: #1b1982!important;}

.color-black { color: #000!important;}


/* ---------------------------------------------

Icon Boxes

------------------------------------------------*/
/*icon box 1*/
.icon-box-1 i {
    font-size: 44px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    color: #000;
}

.icon-box-1 h4 {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    line-height: 48px;
    margin-left: 15px;
}

.icon-box-1 p {
    margin-top: 12px;
    font-size: 14px;
    color: #5c5c5c;
}

/*icon box 2*/
.icon-box-2 {
    padding: 40px;
    border: 1px solid #eaeaea;
}

.icon-box-2 i {
    font-size: 64px;
    display: block;
    color: #000;
    text-align: center;
}

.icon-box-2 h4 {
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px 0;
}

.icon-box-2 a {
    text-align: center;
    display: block;
    color: rgba(25,27,89,0.6)
    font-size: 25px;
}

.icon-box-2 p {
    margin-top: 12px;
    font-size: 14px;
    color: #5c5c5c;
    text-align: center;
}

/* ---------------------------------------------

Form (used for contact and comment)

------------------------------------------------*/
form {
    width: 100%;
}

.field {
    margin-bottom: 20px;
    padding-left: 0;
}

label {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: .4px;
    color: #b1b1b1; 
}

input,
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    margin-top: 5px;
    outline: none;
}

/* ---------------------------------------------

Opacity

------------------------------------------------*/
.opacity-01 {
    opacity: .1 !important;
}

.opacity-02 {
    opacity: .2 !important;
}

.opacity-03 {
    opacity: .3 !important;
}

.opacity-04 {
    opacity: .4 !important;
}

.opacity-05 {
    opacity: .5 !important;
}

.opacity-06 {
    opacity: .6 !important;
}

.opacity-07 {
    opacity: .7 !important;
}

.opacity-08 {
    opacity: .8 !important;
}

.opacity-09 {
    opacity: .9 !important;
}

/* ---------------------------------------------

Call to Action Section

------------------------------------------------*/
.cta-1 span,
.cta-2 span {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 1px;
}

.cta-1 h4,
.cta-2 h4 {
    font-size: 32px;
    margin: 5px 0 20px 0;
    text-align: left;
    text-transform: none;
    color: #000;
}

.cta-1 p,
.cta-2 p {
    margin: 0;
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: .2px;
    
}

.cta-2,
.cta-2 h4 {
    text-align: center;
}

.color-overlay.cta-1 span,
.color-overlay.cta-2 span {
    color: rgba(255,255,255,0.7);
}

.color-overlay.cta-1 h4,
.color-overlay.cta-2 h4 {
    color: #fff;
}

.color-overlay.cta-1 p,
.color-overlay.cta-2 p {
    color: rgba(255,255,255, .8);
}

/* ---------------------------------------------

Buttons

------------------------------------------------*/
.button {
    border-radius: 100px;
    display: inline-block;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

/* Button Sizes */
.button-lg {
    font-size: 12px !important;
    padding: 20px 60px !important;
}

.button-md {
    font-size: 11px !important;
    padding: 16px 48px !important;
}

.button-sm {
    font-size: 10px !important;
    padding: 12px 36px !important;
}

.button-xs {
    font-size: 9px !important;
    padding: 8px 12px !important;
}

.button-primary {
    background: #1b1982;
    color: #fff;
}
.button-secondary {
    background: #1b1982;
    color: #fff;
}

.button-black {
    background: #000;
    color: #fff;
}
.button-white {
    background: #fff;
    color: #000;
    font-weight: 700;
}

.button:hover {
    color: #fff;
}

.button-white:hover {
    color: inherit;
}
/* ---------------------------------------------

Pagination

------------------------------------------------*/
.pagination a {
    border-radius: 50%!important;
    color: rgba(25,27,89,0.6)!important;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    line-height: 38px!important;
    text-align: center;
    padding: 0!important;
    font-weight: 700;
    font-size: 12px;
}

.pagination a.active,
.pagination a:hover,
.pagination a:focus {
    background: #e2e2e2!important;
    color: #fff!important;
    border: 1px solid #e2e2e2!important;
}
/* ---------------------------------------------

Accordion and Toggle

------------------------------------------------*/
.toggle, .accordion {
    border-top: 1px solid #eaeaea;
}

.toggle > dt > a,.accordion > dt > a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 20px 0;
    color: #888;
    border-bottom: 1px solid #eaeaea;
    font-weight: 400;
    transition: all .5s ease;
}

.toggle > dt > a.active,.accordion > dt > a.active {
    color: #000;
}

.toggle > dt > a:after,.accordion > dt > a:after {
    content: "\e623";
    font-family: 'Pe-icon-7-stroke';
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    width: 16px;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all .5s ease;
    color: #888;
}

.accordion > dt > a.active:after,.accordion > dt > a.active:hover:after {
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

.toggle > dt > a:hover:after,.accordion > dt > a:hover:after {
}

.toggle > dd,.accordion > dd {
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
}

/* ---------------------------------------------

Hamburger Menu Toggle

------------------------------------------------*/
.slicknav_menu {
    display:none;
}

.slicknav_menu {
    padding: 0;
    background: transparent;
}
.slicknav_btn {
    overflow: hidden;
    z-index: 99999;
    height: 80px;
    width: 80px;
    margin:0;
    background: transparent;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.scrolled .slicknav_btn {
    height: 65px;
}
.slicknav_btn .slicknav_icon {
    margin: 0;
    position: absolute;
    height: 22px;
    width: 30px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.slicknav_btn .slicknav_icon-bar {
    margin: 0!important;
    border-radius: 0px!important;
    opacity: 1;
    height: 4px;
    width: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    display: block;
    background: #fff;
    border-radius: 100px;
    -webkit-transition: all .5s cubic-bezier(0.7,0,0.3,1);
    transition: all .5s cubic-bezier(0.7,0,0.3,1);
}

.slicknav_btn .slicknav_icon-bar:nth-child(1) {
    top: 0px;
}

.slicknav_btn .slicknav_icon-bar:nth-child(2) {
    top: 9px;
}

.slicknav_btn .slicknav_icon-bar:nth-child(3) {
    top: 18px;
}

/*Dropdown for slicknav*/
.slicknav_nav {
    padding: 20px 0;
    position: fixed;
    top: 0;
    margin-top: 80px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #1b1952;
    height: 100%;
    overflow: auto;
}

.scrolled .slicknav_nav {
    margin-top: 65px;
}

.scrolled .slicknav_nav {
    margin-top: 65px;
}

.slicknav_nav .slicknav_row, .slicknav_nav a {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0px;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
}

.slicknav_nav .slicknav_row:hover {
    background: transparent;
    border-radius: 0px;
}

.slicknav_nav a:hover {
    background: transparent;
    border-radius: 0px;
    color: #fff;
    background: rgba(0, 0, 0 ,.2);
}

.slicknav_arrow {
    display: none;
}
.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a {
    padding: 20px;
    display: block;
}
/* ---------------------------------------------

Toggle appearance when menu opens

------------------------------------------------*/
.slicknav_open.slicknav_btn .slicknav_icon-bar:nth-child(1) {
    top: 50%;
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    transform: translate(-50%,-50%) rotate(45deg);
}

.slicknav_open.slicknav_btn .slicknav_icon-bar:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

.slicknav_open.slicknav_btn .slicknav_icon-bar:nth-child(3) {
    top: 50%;    
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg);
}
.main-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    padding: 0;
    transition: all .4s ease;
}
/* ---------------------------------------------

Main Nav non-responsive styles

------------------------------------------------*/
.main-nav .container {
    padding: 0;
}

/*Right side links*/
.main-nav .right-links {
    float: right;
}

/*appearance on scroll*/
.scrolled .main-nav {
    position: fixed;
    background: #1b1952;
    border: none!important;
}

/*menu-styles*/
/*transparent light (white links and text with transparent background)*/
.main-nav.transparent-light { border-bottom: 1px solid rgba(255, 255, 255, .2); }
.main-nav.transparent-light .menu li a.menu-item { color: #fff; }

/*transparent dark (black links and text with transparent background)*/
.main-nav.transparent-dark { border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
.main-nav.transparent-dark .menu li a.menu-item { color: #000; font-weight: 700; }

/*colored menu (background color with white links)*/
.main-nav.colored-menu { background: #1b1952; }
.main-nav.colored-menu .menu li a.menu-item { color: #fff; }

/* -----------------------------------------------------------------------------

Logo

----------------------------------------------------------------------------- */
.logo-container {
    float: left;
    line-height: 80px;
}

.logo-container a {
    display: block;
}

.logo-container img {
    height: 18px;
}

.logo {
    display: block;
}

.logo i {
    color: #fff;
    line-height: 20px;
    font-size: 24px;
    margin-right: 10px;
    vertical-align: middle;
}

.logo p {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    font-weight: 700;
    font-size: 20px;
}

.main-nav.transparent-dark .logo i,
.main-nav.transparent-dark .logo p {
    color: #000;
}

.scrolled .logo i,
.scrolled .logo p {
    color: #fff!important;
}
/* -----------------------------------------------------------------------------

Menu on the right
  
----------------------------------------------------------------------------- */
.menu {
    display: inline-block;
}

.menu,
.menu ul {
     padding: 0;
     margin: 0;
}

.menu > li {
    display: inline-block;
    position: relative;
}

.menu li a.menu-item {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    padding: 0 14px;
    line-height: 80px;
    letter-spacing: 1.3px;
}

/*Adds a bottom arrow for links with dropdowns*/
.menu li a.has-drop:after {
    content: "\f107";
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-variant: normal;
    opacity: .6;
    margin-left: 8px;
    float: right;
}

.menu .dropdown li a.has-drop:after {
    transform: rotate(-90deg);
}

.menu .dropdown {
    list-style-type: none;
    padding: 18px 28px;
    background: #161b1f;
    min-width: 250px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    z-index: 9999;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    transition: all .5s ease;
    list-style-type: none;
    border-bottom: 4px solid #e2e2e2;
}

.menu .dropdown.align-right {
    left: auto;
    right: 0;
    transform: translateY(10px) translateX(0%);
}

.menu .dropdown.align-right:before {
    left: auto;
    right: 22px;
}

.menu .dropdown li {
    position: relative;
}

/*Dropdown hover effect*/
.menu > li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    transform: none;
}

.menu .dropdown a {
    display: block;
    color: #ffffff;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1.2px;
    opacity: .9;
}

.menu .dropdown a span {
    display: block;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 100;
    font-size: 9px;
    opacity: .9;
    margin-top: 3px;
    letter-spacing: 1.5px;
}

.menu .dropdown a:hover {
    opacity: 1;
}

.menu li:hover .dropdown.align-right {
    -webkit-transform: translateY(0px) translateX(0%);
    transform: translateY(0px) translateX(0%);
}

/*menu after scroll*/
.scrolled .logo-container,
.scrolled .menu li a.menu-item {
    line-height: 65px;
    color: #fff!important;
}

/* ---------------------------------------------

Hero Section

------------------------------------------------*/
.hero-section {
    text-align: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #1b1952;
}

.hero-section .container-fluid,
.hero-section .row,
.hero-section .hero-slider,
.hero-section .slick-slider,
.hero-section .slick-list,
.hero-section .slick-track {
    height: 100%;
}

.hero-section .container-fluid {
    padding: 0;
}

.hero-slider {
    z-index: 3;
}

.hero-center {
    opacity: 0;
    z-index: 999999;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all .8s;
    transition: all .8s;
    -webkit-transform: translateX(-50%) translateY(calc(-50% + 100px));
    transform: translateX(-50%) translateY(calc(-50% + 100px));
}

.slick-active .hero-center {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.hero-section h1 {
    color: #fff;
    text-align: center;
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 700;
}

.hero-section p {
    color: #fff;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.hero-section span {
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    color: #e2e2e2;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.hero-section .chart {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

/* ---------------------------------------------

Mouse in Header

------------------------------------------------*/
.mouse-box {
    z-index: 3;
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.mouse {
    display: inline-block;
    height: 44px;
    width: 28px;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 12px;
    text-align: center;
}
.mouse:after {
    display: inline-block;
    height: 8px;
    width: 8px;
    background: rgba(255,255,255,.5);
    border-radius: 50%;
    content: "";
    -webkit-animation: scroll 1.3s ease-out infinite forwards;
    -moz-animation: scroll 1.3s ease-out infinite forwards;
    animation: scroll 1.3s ease-out infinite forwards;
}

/*mouse scroll down*/
@-webkit-keyframes scroll {
    0% {
    -webkit-transform: translateY(0);
    }
    50% {
    -webkit-transform: translateY(10px);
    }
    100% {
    -webkit-transform: translateY(0);
    }
}
@-moz-keyframes scroll {
    0% {
    -moz-transform: translateY(0);
    }
    50% {
    -moz-transform: translateY(10px);
    }
    100% {
    -moz-transform: translateY(0);
    }
}
@keyframes scroll {
    0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    }
    50% {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    }
    100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    }
}

/* ---------------------------------------------

Page Title

------------------------------------------------*/
.page-title {
    padding-bottom: 100px;
    background: #fbfbfb;
    margin-top: 80px;
    border-bottom: 1px solid #eaeaea;
}

.page-title h1 {
    font-size: 38px;
    margin: 60px 0px 12px;
    transform: uppercase;
    font-family:'Montserrat', Arial, sans-serif;
}

.page-title p {
    color: #888;
}

.breadcrumb {
    background: transparent;
    padding: 30px 0;
    border-bottom: 1px solid #eaeaea;
}

.breadcrumb a {
    color: #888;
    font-size: 13px;
}

/* ---------------------------------------------

More section

------------------------------------------------*/
.more {
    padding: 40px 0;
    border-top: 1px solid #eaeaea;
    margin-top: 80px;
    text-align: center;
}

.more p {
    display: inline-block;
    font-size: 15px;
    margin-right: 20px;
    color: #888888;
}

/* ---------------------------------------------

Header Links

------------------------------------------------*/
.header-links {
    border-bottom: 1px solid #eaeaea;
}
.header-links ul {
    padding: 0;
    margin: 0;
}

.header-links li {
    display: inline-block;
}

.header-links a {
    display: block;
    padding: 20px;
    color: #888;
}

.header-links a:hover {
    color: #1b1982;
}

.header-links a.active {
    border-bottom: 2px solid #1b1982;
    color: #1b1982;
}

/* ---------------------------------------------

Login

------------------------------------------------*/
.login-box {
    background: #f8f8f8;
}

.login-box .button {
    border-radius: 2px;
    font-size: 14px!important;
    padding: 15px 0!important;
}

.login-box h3 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 34px;
    margin-top: 40px;
    opacity: .6;
}

.login-box .remember input,
.login-box .remember label {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    line-height: 20px;
    margin: 0;
}

.login-box .remember label {
    margin-left: 5px;
}
/* ---------------------------------------------

Pricing Tables

------------------------------------------------*/
.price-container {
    padding: 40px 0;
    text-align: center;
    background: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    position: relative;
}

.price-box .button {
    position: absolute;
    bottom: 0;
    width: 80%;
    left: 50%;
    -webkit-transform: translate(-50%,50%);
    transform: translate(-50%,50%);
}
.price-box {
    border: 1px solid #e5e5e5;
    text-align: center;
    position: relative;
}
.price-box h5 {
    font-weight: 600;
    text-transform: uppercase;
}

.price-box h6 {
    font-size: 13px;
    font-weight: 600;
    color: #3a3a3a;
    display: inline-block;
    line-height: 25px;
    vertical-align: middle;
}
.price-box p {
    text-align: center;
    font-size: 15px;
    color: #888;
}

.price-container .price-holder {
    margin: 20px 0;
}

.price-container i {
    position: absolute;
    font-size: 200px;
    opacity: .1;
    bottom: 0;
    right: 0;
    -webkit-transform: translate(30%,30%);
    transform: translate(30%,30%);
}

.price-box .price {
    font-size: 80px;
    font-weight: 900;
}

.price-box .price .symbol {
    font-size: 15px;
    vertical-align: super;
    font-weight: 400;
}

.price-box .price .duration {
    font-size: 14px;
    font-weight: 400;
    opacity: .7;
}

.features-list {
    background: #fff;
    padding: 40px;
}

.features-list ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
    font-size: 14px;
    letter-spacing: .3px;
    color: #777;
}

.features-list ul li {
    padding: 4px 0;
    font-size: 13px;
}
.features-list h5 {
    color: #000;
    font-size: 18px;
}

.features-list i {
    color: rgba(25,27,89,0.6);
    font-size: 25px;
    margin-right: 10px;
    vertical-align: middle;
    line-height: 25px;
}

.features-list .features-footer {
    color: #B3B3B3;
    border-top: 1px solid #eaeaea;
    font-family: 'Georgia', serif;
    font-style: italic;
    padding-top: 20px;
    margin-top: 20px;
    font-size: 13px;
    letter-spacing: .6px;
}

/* ---------------------------------------------

Testimonials

------------------------------------------------*/
.testimonial {
    position: relative;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 8px 28px 0px rgba(0,0,0,.2);
}

.testimonial img {
    width: 100%;
}

.testimonial blockquote {
    border: none;
    color: #fff;
    font-size: 18px;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-family: 'Lora', Georgia, sans-serif;
    font-style: italic;
}

.testimonial footer {
    font-style: normal;
    color: #fff;
    margin-top: 12px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .4px;
}

.testimonial blockquote img {
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.4);
}

.testimonial .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

/* ---------------------------------------------

Portfolio items

------------------------------------------------*/
.work-item {
    position: relative;
    border: 1px solid #eaeaea;
    overflow: hidden;
    border-radius: 2px;
}

.work-item img {
    width: 100%;
    transition: all .5s ease;
}

.work-item .img-box {
    position: relative;
    overflow: hidden;
}

.work-item a {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    transition: all .5s ease;
    opacity: 0;
}

.work-item a i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 64px;
    color: #fff;
    opacity: 0;
    -webkit-transform: translate(-50%,-50%) scale(.5);
    transform: translate(-50%,-50%) scale(.5);
    transition: all .5s ease .2s;
}

.work-item:hover a {
    opacity: 1;
}

.work-item:hover a i {
    opacity: 1;
    -webkit-transform: translate(-50%,-50%) scale(1);
    transform: translate(-50%,-50%) scale(1);
}

.work-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);   
}

.work-item h4 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 6px;
}

.work-info {
    padding: 20px;
    background: #fff;
}

/*single work item page*/
.work-single img {
    width: 100%;
}

.work-single h2 {
    font-weight: 700;
}

.work-single p.category {
    font-weight: 700;
    font-size: 13px;
}

.work-single h5 {
    margin-top: 40px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea
}

/* ---------------------------------------------

FAQ

------------------------------------------------*/
.ques-box h5 {
    font-size: 18px;
    font-weight: 700;
    color: rgba(25,27,89,0.6);
    margin-bottom: 15px;
}

/*links seen in contact pages`*/
.ques-col {
    padding: 0;
}

.ques-col a {
    display: block;
    padding: 8px 0;
}
/* -----------------------------------------------------------------------------

Team
  
----------------------------------------------------------------------------- */
.team-member {
    text-align: center;
    transition: all .5s ease;
}

.team-member .image-holder {
    position: relative;
    overflow: hidden; 
    border: 1px solid #eaeaea;
}

.team-member .image-holder img {
    width: 100%;
    transition: all .5s ease;
}

.team-member .member-info {
    padding: 30px;
    bottom: auto;
    transition: all .5s ease;
}

.team-member .member-info h5 {
    font-weight: 700;
    margin: 0 0 10px 0;
    line-height: 1;
    font-size: 15px;
}

.team-member .member-info h6 {
    text-transform: uppercase;
    line-height: 1;
    margin: 0 0 20px 0;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: .5px;
    color: #888;
}

.team-member .member-info p {
    margin-bottom: 16px;
}

.team-member .member-info a {
    padding: 0 10px;
}

/* ---------------------------------------------

Tables for centering content

------------------------------------------------*/
.table {
    margin: 0;
    overflow: hidden;
}

.table .content,
.table .side {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

/* ---------------------------------------------

Service Box

------------------------------------------------*/
.service-box {
    border: 1px solid #eaeaea;
    border-radius: 2px;
    overflow: hidden;
}

.service-box img {
    width: 100%;
}

.service-box .info {
    padding: 20px;
} 

.service-box h4 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 16px;
}

.service-box p {
    color: #5c5c5c;
}

.service-box a {
    display: block;
    padding-top: 20px;
    border-top: 1px solid #eaeaea;
    margin-top: 20px;
    color: rgba(25,27,89,0.6);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
}

/*list view*/
.list-item {
    position: relative;
}
.list-item img {
    width: 50%;
}

.list-item .info {
    width: 50%;
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    padding: 30px;
}

.list-item .info a {
    position: absolute;
    bottom: 20px;
    left: 30px;
    right: 30px;
}

/* ---------------------------------------------

Blogs

------------------------------------------------*/
.post-snippet {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
}

.post-snippet img {
    width: 100%;
}

.post-snippet .meta {
    padding: 25px 25px 0 25px;
}

.post-snippet h4 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    color: #000;
}

.post-snippet p {
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;   
}

.post-snippet .post-info {
    font-size: 13px;
    padding: 25px 0;
    border-top: 1px solid #eaeaea;
    margin-top: 25px;
}
.post-snippet .post-info i {
    vertical-align: middle;
    font-size: 18px;
    color: #888;
}

.post-snippet .post-info p {
    color: #888;
    font-size: 14px;
    margin: 0;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.post-snippet .post-info a i {
    color: rgba(25,27,89,0.6);
    display: inline-block;
    padding: 0 4px;
}


/*single blog post*/
.sidebar-gap {
    padding-right: 60px;
}

.post-single.nosidebar {
    padding-right: 15px;
}
.post h2 {
    font-size: 40px;
    margin-bottom: 26px;
    font-weight: 600;
}

.post img {
    width: 100%;
}

.post p {
    line-height: 2;
    letter-spacing: .2px;
    font-weight: 400;
    color: #6f6f6f;
    margin-bottom: 20px;
}

.post .post-footer {
    padding: 20px 0;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 40px;
    margin-top: 40px;
    display: table;
    content: '';
    clear: both;
    width: 100%;
}

.post .post-footer .sharing {
    float: left;
}

.post .post-footer .sharing p,
.post .post-footer .read-more {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    color: #aaa;
    font-size: 12px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    line-height: 27px;
}

.post .post-footer .sharing img {
    width: 24px;
}

.post .post-footer .read-more {
    float: right;
    margin: 0;
}

/* Widgets */
.blog-sidebar {
    padding: 0;
}

.widget { 
    margin-bottom: 50px;
    overflow: hidden;
    border-radius: 2px;
}

.widget .widget-title { 
    font-weight: 700;
    text-transform: uppercase;
    color: #5d5d5d;
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
    margin: 0;
    letter-spacing: .4px;
    font-size: 17px;
    margin-bottom: 20px;
}

.widget .widget-title span {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    color: #888;
    font-size: 11px;
}

.widget ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.widget li {
    clear: both;
    display: table;
    content: '';
    margin-bottom: 20px;
}

.widget .comment-on a,
.widget li a { 
    color: #111;
    font-size: 13px;
}

.widget li .blog-thumb-container { 
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}

.widget li .blog-thumb-container img { 
    width: 100%;
}

.widget .comment-on {
    padding-top: 14px;
    border-top: 1px solid #eaeaea;
    color: #B4B4B4;
    font-size: 12px;
    margin-top: 20px;
}

.widget .comment-on a {
    display: block;
}

.widget .comment-block {
    margin: 0;
}
.widget .comment-block img {
    float: left;
}

.widget .comment-block .comment-likes {
    color: #BEBEBE;
    font-size: 13px;
    vertical-align: super;
}
.widget .instagram-widget a {
    padding: 1px;
}
.widget .instagram-widget img {
    width: 100%;
}

.widget.newsletter {
    padding: 30px;
    background: #30373b;
}

.widget.newsletter h6 {
    color: #fff;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 6px;
}

.widget.newsletter p {
    color: #c7c7c7;
    text-align: center;
    font-size: 12px;

}

.widget.newsletter form {
    background: transparent;
}

.widget.newsletter input {
    width: 100%;
    background: #fff;
    padding: 2px 15px;
    color: #000;
}

.widget.newsletter button {
    background: #e2e2e2;
    width: 100%;
    margin-top: 6px;
    border-radius: 2px;
    padding: 3px 0;
    font-size: 13px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.widget.newsletter span {
    color: #fff;
    font-size: 12px;
    text-align: center;
    display: inherit;
}

.widget.cta-small {
    position: relative;
}

.widget.cta-small img {
    width: 100%;
}

.widget.cta-small .cta-content {
    position: absolute;
    margin: 40px;
    top: 0;
    left: 0;
}

.widget.cta-small .cta-content h6 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.widget.cta-small .cta-content p {
    color: #fff;
    width: 75%;
    margin-bottom: 10px;
}

/* -----------------------------------------------------------------------------

Comment Block

----------------------------------------------------------------------------- */
.comment-block {
    padding: 20px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.1)!important;
    margin-bottom: 20px;
}

.comment-block img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment-block h6 {
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
    color: #555;
    margin: 0 10px 0 0;
}

.comment-block .user-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.comment-block .user-info span {
    display: block;
    font-size: 11px;
    color: #aaa;
}

.comment-block .comment-text {
    color: #555;
    display: block;
    padding: 20px 0;
    font-size: 14px;
}

.comment-block .comment-likes {
    color: #bebebe;
    font-size: 13px;
}

.comment-block .comment-likes i {
    margin-right: 6px;
}

/* ---------------------------------------------

Footer

------------------------------------------------*/
.footer {
    background: #1b1952;
    padding-top: 80px;
}

.footer h6 {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footer p {
    color: #9fa9ae;
    font-size: 13px;
    letter-spacing: 0.3px;
}

.footer ul {
    padding: 0;
    margin: 0;
}

.footer a {
    color: rgba(255, 255, 255, 0.8);
}

/*links for information and support columns*/
.footer ul.list-links li a {
    font-size: 13px;
    letter-spacing: .2px;
    padding: 4px 0;
    display: block;
}

/*social media links*/
.footer ul.list-sm li {
    display: inline-block;
}

.footer ul.list-sm li a {
    height: 30px;
    width: 30px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 50%;
    font-size: 11px;
    margin: 0 2px;
}

/*newsletter*/
form.newsletter {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    width: 100%;
    margin-top: 18px;
}

.newsletter input {
    outline: none;
    border: none;
    color: #fff;
    margin: 0;
    background: transparent;
    padding: 0 12px;
    font-size: 12px;
    width: 85%;
    line-height: 42px;
}

.newsletter button {
    background: transparent;
    color: #fff;
    float: right;
    line-height: 38px;
    padding: 0;
    width: 15%;
}

/*subfooter*/
.footer .sub-footer {
    padding: 40px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    margin-top: 40px;
    display: table;
    clear: both;
    content: '';
}

/*copyright text*/
.footer .sub-footer p {
    display: inline-block;
    margin: 0;
    line-height: 40px;
}

/*credit cards in subfooter*/
.footer .sub-footer .list-cc {
    float: right;
}

.footer .sub-footer .list-cc li {
    display: inline-block;
}

.footer .sub-footer .list-cc img {
    padding: 0 4px;
    line-height: 22px;
    width: 40px;
}


/* ---------------------------------------------

Misc

------------------------------------------------*/
.w100 {
    width: 100%;
}

.big-text {
    font-size: 120px!important;
}

.slick-slide {
    outline: none;
}

.absolute-center {
    z-index: 99;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/*slick slider mods*/

.slick-slider {
    margin-bottom: 0;
}

.slick-slide {
    outline: none;
    border: none;
    position: relative;
    overflow: hidden;
}

.slick-prev {
    left: 0;
    content: "\e686";
}

.slick-next {
    right: 0;
}

.slick-prev:before {
    content: "\e686";
}

.slick-next:before {
    content: "\e684";

}

.slick-prev, .slick-next {
    z-index: 9999;
    height: 100px;
    width: 100px;
}

.slick-prev:before, .slick-next:before {
    opacity: .9;
    font-size: 100px;
    z-index: 9999;
    font-size: 100px;
    color: #fff;
    font-family: 'Pe-icon-7-stroke';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ---------------------------------------------

Padding Shortcodes

------------------------------------------------*/
.p0 { padding: 0!important; }

/*padding bottom*/
.pb10 { padding-bottom: 10px !important; }

.pb20 { padding-bottom: 20px !important; }

.pb30 { padding-bottom: 30px !important; }

.pb40 { padding-bottom: 40px !important; }

.pb50 { padding-bottom: 50px !important; }

.pb60 { padding-bottom: 60px !important; }

.pb70 { padding-bottom: 70px !important; }

.pb80 { padding-bottom: 80px !important; }

.pb90 { padding-bottom: 90px !important; }

.pb100 { padding-bottom: 100px !important; }

.pb110 { padding-bottom: 110px !important; }

.pb120 { padding-bottom: 120px !important; }

.pb130 { padding-bottom: 130px !important; }

.pb140 { padding-bottom: 140px !important; }

.pb150 { padding-bottom: 150px !important; }

.pb160 { padding-bottom: 160px !important; }

/*padding top*/
.pt10 { padding-top: 10px !important; }

.pt20 { padding-top: 20px !important; }

.pt30 { padding-top: 30px !important; }

.pt40 { padding-top: 40px !important; }

.pt50 { padding-top: 50px !important; }

.pt60 { padding-top: 60px !important; }

.pt70 { padding-top: 70px !important; }

.pt80 { padding-top: 80px !important; }

.pt90 { padding-top: 90px !important; }

.pt100 { padding-top: 100px !important; }

.pt110 { padding-top: 110px !important; }

.pt120 { padding-top: 120px !important; }

.pt130 { padding-top: 130px !important; }

.pt140 { padding-top: 140px !important; }

.pt150 { padding-top: 150px !important; }

.pt160 { padding-top: 160px !important; }
/* ---------------------------------------------

Margin Shortcodes

------------------------------------------------*/
.m0 { margin: 0!important; }

.mb10 { margin-bottom: 10px !important; }

.mb20 { margin-bottom: 20px !important; }

.mb30 { margin-bottom: 30px !important; }

.mb40 { margin-bottom: 40px !important; }

.mb50 { margin-bottom: 50px !important; }

.mb60 { margin-bottom: 60px !important; }

.mb70 { margin-bottom: 70px !important; }

.mb80 { margin-bottom: 80px !important; }

.mb90 { margin-bottom: 90px !important; }

.mb100 { margin-bottom: 100px !important; }

.mb110 { margin-bottom: 110px !important; }

.mb120 { margin-bottom: 120px !important; }

.mb130 { margin-bottom: 130px !important; }

.mb140 { margin-bottom: 140px !important; }

.mb150 { margin-bottom: 150px !important; }

.mb160 { margin-bottom: 160px !important; }



/* Portrait tablet to landscape and desktop */
@media screen and (max-width: 992px) {
    .logo-container {
        padding-left: 20px;
        position: absolute;
        z-index: 99999999;
    }

    .hero-section h1 {
        font-size: 48px;
    }

    .hero-section p {
        width: 90%;
    }

    .slicknav_menu .button {
        font-size: 13px!important;
        padding: 20px!important;
    }
    .js #menu {
        display:none;
    }
    
    .js .slicknav_menu {
        display:block;
    }

    .menu-item {
        padding: 20px 35px!important;
    }

    .menu-item.has-drop:after {
        content: "\f142";
        font-family: 'FontAwesome';
        float: right;
        font-size: 20px;
        line-height: 19px;
        color: #fff;
    }

    .dropdown {
        margin: 0!important;
        background: #161b1f;
        border-bottom: 4px solid #e2e2e2;
    }

    .dropdown li a {
        padding: 15px 35px;
        font-size: 10px;
    }

    .dropdown li a span {
        display: block;
        font-size: 10px;
        font-family: 'Open Sans', Arial, sans-serif;
        font-weight: 100;
    }

    .sidebar-gap {
        padding-right: initial;
    }   

    .blog-sidebar {
        margin-top: 60px;
    } 

    .widget.cta-small {
        background: #30373b;
    }

    .widget.cta-small img {
        display: none;
    }

    .widget.cta-small .cta-content {
        position: relative;
    }

    .table .content,
    .table .side {
        display: block!important;
    }

    .footer h6 {
        margin-bottom: 8px;
    }

    .text-center-sm {
        text-align: center;
    }

    .cta-1 h4,
    .cta-2 h4 {
        text-align: center;
    }

    .mb-sm-20 { margin-bottom: 20px !important; }
    .mb-sm-40 { margin-bottom: 40px !important; }
    .mb-sm-60 { margin-bottom: 60px !important; }
    .mb-sm-80 { margin-bottom: 80px !important; }
    .mb-sm-100 { margin-bottom: 100px !important; }
}

@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 32px;
    }

    .hero-section p {
        font-size: 14px;
    }

    .page-title h1 {
        font-size: 32px;
    }

    .page-title p {
        font-size: 15px;
    }

    .breadcrumb a {
        font-size: 12px;
    }

    .blog-sidebar {
        padding: 0 15px;
    }

    .post h2 {
        font-size: 24px;
    }

    .post-footer .sharing,
    .post-footer .read-more {
        display: block!important;
        float: none!important;
        text-align: center;
    }

    .post-footer .sharing {
        margin-bottom: 10px;
    }

    .header-links .container {
        padding: 0;
    }

    .header-links li {
        display: block;
        border-bottom: 1px solid #eaeaea;
    }

    .header-links li:last-child {
        border-bottom: none;
    }

    .header-links li a.active {
        border: none;
        background: #f8f8f8;
    }

    .price-box .button {
        width: 90%;
    }

    .row {
        margin: 0!important;
    }

    .more {
        border: none;
    }

    .more p {
        display:  block;
        margin: 0 0 20px 0;
    }

    h2.section-title {
        font-size: 24px!important;
        margin-bottom: 60px;
    }

    .cta-1 h4,
    .cta-2 h4 {
        font-size: 24px;
    }

    .service-box img {
        width: 100%;
    }

    .service-box .info {
        position: relative;
        width: 100%;
        padding: 20px;
    }

    .service-box .info a  {
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
    }

    .sub-footer p {
        display: block!important;
        width: 100%;
        margin: 0 auto 20px!important;
        text-align: center;
    }

    .sub-footer p a {
        display: block;
    }

    .list-cc {
        float: none!important;
        text-align: center;
    }
}


.blue-bar {
    background-color: #1b1982;
}


.partners {
    max-width: 75%;
    padding-bottom:20px;
}


#nav-link:hover {
    color: #e2e2e2;
}

#nav-link:active {
    color: #ffffff;
}

#to-dkblue:hover {
    background-color:rgba(27,25,89,1);
}

#to-dkblue:visited {
    color:white;
}

#to-dkblue:active {
    color:white;
}

#to-dkblue2:hover {
    background-color:#0e0c3e;
}


#to-black:hover {
    background-color:rgba(0,0,0,1);
}

#to-white:hover {
    background-color:rgba(255,255,255,1);
}


#to-gray {
    background-color:white;
    color:#1b1952;
}

#to-gray:hover {
    background-color:#e2e2e2;
    color:#1b1982;
}





#headshot {
    margin:20px;
    max-width: 165px;
}


#man-name {
    text-align: left;
}



td {
    padding:10px;
    margin:40px;
}



ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
ol > li {
    position:relative; /* Create a positioning context */
    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 8px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    color:rgba(0,0,0,0.7);
}
ol > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    color:#fff;
    background:#1b1952;
    border-radius: 20px;
    margin-top:2px;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}
